nav{
    background-color: black;
    padding: 17px 77px;
}

.logo{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

@media only screen and (max-width: 800px) {
    nav{
        padding: 17px 29px;
    }
}