.output-container{
    width: 40%;
    position: relative;
}

.output{
    overflow-y: scroll;
    background-color: white;
    width: 100%;
    height: 69.7vh;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.actions{
    position: absolute;
    bottom: 4px;
    left: 0px;
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: white;
    box-shadow: 0 0px 2px #c0b9b9;
    height: 23px;
}

.actions div{
    margin-left: 13px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 600;
}

.actions div:hover{
    color: #aba6a6;
    scale: 1.1;
    cursor: pointer;
}

.copied{
    position: absolute;
    padding: 2px 4px;
    font-size: 13px;
    font-weight: 600;
    color: #313131;
    border-radius: 3px;
    bottom: 26px;
    right: 24px;
    display: none;
}

@media only screen and (max-width: 800px) {
    .output-container{
        width: 90%;
        margin-bottom: 72px;
    }
    .actions{
        bottom: 0;
    }
}